@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather:ital,wght@1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,600;1,400&family=Salsa&family=Teko:wght@600&family=Work+Sans:ital,wght@1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Pagina de index*/
.header1 {
    background-color: #225a0d;
}
.nav1 {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-family: salsa;
    align-items: center;
    width: 97%;
}
.img1 {
    width: 65px;
}
.a1 {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.a1.active {
    color: #ff5cd9;
}

@media(max-width: 550px) {
    .nav1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;
    }
    .img1 {
        width: 120px;
    }
    .a1 {
        font-size: 1.2rem;
    }
}
.main1 {
    background-color:  #0c7117;
    min-height: 100vh;
}
.div1 {
    display: flex;
}
@media(max-width:650px) {
    .div1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.div2 {
    padding: 2rem;
    align-items: center;
}
.p01 {
    padding: 0.5rem;
    font-size: 1.4rem;
}
.h01 {
    text-align: center;
    font-family: Lemon;
    color: white;
}
.h0-1 {
    padding: 1.3rem;
    color: white;
}

/* Pagina de raza */

.p02 {
    font-size: 1.5rem;
}

/* Pagina de accesorios */

.grilla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "coche coche mochila bolso"
    "bebedero campera moises moises"
    ;
    height: 100vh;
    text-align: center;
}
.coche {
    background-color:#17ab53;
    grid-area: coche;
    
}
.bolso {
    background-color: #8dc550;
    grid-area: bolso;
}
.mochila {
    background-color: #e4da6e;
    grid-area: mochila;
}
.bebedero {
    background-color: #8dc550;
    grid-area: bebedero;
}
.campera {
    background-color:#e4da6e;
    grid-area: campera;
}
.moises {
    background-color:#17ab53;
    grid-area: moises;
}
.img2 {
    width: 40%;
}
.img3 {
    width: 78%;
}
.img4 {
    width: 57%;
}

/* Pagina de información */

.div4 {
    display: flex;
    gap: 2rem;
    background-color:  #0c7117;
    min-height: 100vh;
}

.nutricion-c {
    margin-left: 1.5rem;
    background-image: url(../img/perritocomiendo1.jpg);
}

.salud-b {
    background-image: url(../img/perritodoctor.webp);
}

.cuidados{
    margin-right: 1.5rem;
    background-image: url(../img/perritocorrea.jpg);
}
.gri3 {
    margin-block: 2rem;
    background-size: cover;
    background-position: center;
    width: 100%; 
}
.h02 {
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
    font-family: Lemon;
    text-decoration: underline  #289134;
}
.p03 {
    padding-inline: 1.5rem;
    padding-block: 0.4rem;
}
.p-03 {
    color: #fff8fa;
}
.h03 {
    padding-inline: 1rem;
}
@media(max-width:700px) {
    .div4 {
        display: flex;
        flex-direction: column;
        background-color: #0c7117;  
        padding-inline: 2rem;
        
    }
    .nutricion-c {
        margin-left: 0rem;
    }
}

/* Pagina de contacto */

.div5 {
    width: 70%;
}
.div6 {
    width: 30%;
}
.div7 {
    text-align: center;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 10px;
    margin: 1rem;
    background-color: #289134;
    color: white;
}
.div8 {
    margin: 1rem;
}
.img5 {
    width: 100%;  
    border: 2px solid black;
    border-radius: 10px;  
}
@media (max-width:550px){
    .h0-1{
        text-align: center;
    }
    .div6 {
        width: 80%;
    }
}
.h04 {
    padding-left: 1rem;
    padding-top: 1rem;
}
.h05 {
    font-family: Lemon;
    padding-left: 1rem;
    color: #ffc1a3;
}
strong {
    color: black;
}
/* Pie de pagina */

.footer1 {
    background-color: #225a0d;
    text-align: center;
}
.a2 {
    color: black;
    text-decoration: none;
}